<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1096069365961-8p0ast4m5ad2c9p2kd0iohsh6m16iapn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1096069365961-8p0ast4m5ad2c9p2kd0iohsh6m16iapn</string>
	<key>API_KEY</key>
	<string>AIzaSyDcGY3IjSlqYB8x45Ai49-NaYNqD-H0u5s</string>
	<key>GCM_SENDER_ID</key>
	<string>1096069365961</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ReaWonKim.NhanQua</string>
	<key>PROJECT_ID</key>
	<string>tranhnhanqua-d0dba</string>
	<key>STORAGE_BUCKET</key>
	<string>tranhnhanqua-d0dba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1096069365961:ios:525003b8a0e94715</string>
	<key>DATABASE_URL</key>
	<string>https://tranhnhanqua-d0dba.firebaseio.com</string>
</dict>
</plist>